html, body {
  padding: 0;
  margin: 0;
}

body {
  padding: 20px;
}

.feature-list {
  padding: 0;
  margin: 0;
}

.feature-row {
  list-style: none;
}

.feature-title {
  margin-bottom: 0;
}

.feature-desc, .feature-links {
  margin: 0;
}

.feature-link-span:after {
  content: ", ";
  margin-left: -4px;
  padding: 0;
}